{% extends 'base.html' %}

{% block content %}
<section id="woda" class="container my-5">
  <h2>Woda Wodorowa</h2>
  <p class="lead">Źródło energii komórkowej i regeneracji. Pij wodę, która wspiera Twoje ciało w powrocie do równowagi.</p>

  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Czym jest woda wodorowa?</h3>
      <p>Woda wodorowa to woda wzbogacona w cząsteczki wodoru molekularnego (H₂), który działa jako silny antyoksydant.</p>

      <h4 class="mt-4">Korzyści:</h4>
      <ul>
        <li>Neutralizuje wolne rodniki</li>
        <li>Wspiera regenerację komórek</li>
        <li>Zwiększa poziom energii</li>
        <li>Poprawia nawodnienie organizmu</li>
        <li>Wspiera równowagę pH</li>
      </ul>

      <div class="alert alert-info mt-4">
        <strong>Zainteresowany?</strong> Skontaktuj się ze mną, aby dowiedzieć się więcej o wodzie wodorowej.
      </div>
    </div>
  </div>
</section>
{% endblock %}